<mat-card class="example-card" appearance="outlined">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Bienvenue</mat-card-title>
   </mat-card-header>

  <mat-card-content>
    <div class="card-content-flex">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-hint>Your email</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="password ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="hide()" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>

    <section class="example-section">
      <mat-checkbox class="example-margin"> se rappeler de moi</mat-checkbox>
     </section>
  </mat-card-content>

  <mat-card-actions class="card-actions-flex">
    <button mat-button>
      
        Connexion
      
    </button>

   
  </mat-card-actions>
</mat-card>