@media (max-width: 768px) {
  .example-card {
    margin: 20px;
    max-width: 100%; /* Make the card take up full width on smaller screens */
  }
}

 
 

.example-full-width {
  display: flex;

  width: 100%;
}
.example-container mat-form-field + mat-form-field {
  inline-size: flex-grow;
  background-color: #fff; /* Couleur de fond */
  padding: 30px; /* Espace interne */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  width: 500%;
  max-width: 400px; /* Largeur maximale */
  box-sizing: border-box; /* Inclut les bordures et les marges dans la largeur */
}

.example-right-align {
  text-align: right;
  
}
mat-card {
  margin-top: 200px;/* a voiiirrrrrr*/
  inline-size: center;
   max-height: 250p;
  margin-left: 600px;
 
  height: auto;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
   border-radius: 8px;
  box-shadow: 0 4px 8px rgba(78, 7, 7, 0.1);
}

mat-card-actions {
  display: flex;
    justify-content: center; 
   gap: 30px;               /* Espace entre les boutons */
  width: 100%;              /* Assure que les boutons prennent toute la largeur du mat-card */
}

button {
  font-weight: bold;  /* botuon conenxcoon / motdpass  */
}

